.fee-body{
    position: absolute;
    top: 317rem;
    width: 100%;
    animation: fade-up 1.4s ease;
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.fee-head{
    text-align: center;
    color: rgb(59, 134, 119);
    font-weight: bolder;
}

.fee-p{
    text-align: center;
    color: grey;
}

.fee-img{
    padding-bottom: 5rem;
    margin-left: 23rem;
    width: 61%;
}