*{
    background: rgba(196, 195, 195, 0);
}

.pro-img{
    animation: fade-up 1.4s ease;
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.head1{
    color: rgb(59, 134, 119);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    padding: 3vh;
}

.para{
    text-align: center;
}

.head2{
    font-weight: bolder;
    text-align: center;
    padding: 2vh;
}

.img1{
    width: 37%;
    border: 1px solid red;
    margin-left: 11rem;
    transition: .3s ease;
}

.img2{
    width: 37%;
    border: 1px solid red;
    margin-right: 11rem;
    display: flex;
    position: absolute;
    left: 49rem;
    top: 61rem;
    transition: .3s ease;
}

.img3{
    width: 37%;
    border: 1px solid red;
    margin-left: 11rem;
    display: flex;
    position: absolute;
    /* left: 49rem; */
    top: 104rem;
    transition: .3s ease;
}

.img4{
    width: 37%;
    border: 1px solid red;
    margin-right: 11rem;
    display: flex;
    position: absolute;
    left: 49rem;
    top: 104rem;
    transition: .3s ease;
}

.p1{
    margin: 3vh;
    display: flex;
    position: absolute;
    left: 20rem;
}
.p2{
    margin: 3vh;
    display: flex;
    position: absolute;
    left: 60rem;
    /* top: -2.5rem; */
}
.p3{
    margin: 3vh;
    display: flex;
    position: absolute;
    left: 20rem;
    top: 140rem;
}
.p4{
    margin: 3vh;
    display: flex;
    position: absolute;
    left: 60rem;
    top: 140rem;
}

.hor_line{
    color: rgb(59, 134, 119);
    position: absolute;
    top: 128rem;
    width: 90%;
    margin: 7vh;
    /* height: 115vh; */
}

.head3{
    font-weight: bolder;
    /* text-align: center; */
    padding: 2vh;
    display: flex;
    position: absolute;
    top: 131rem;
    left: 44rem;
}

.img5{
    width: 37%;
    border: 1px solid red;
    margin-left: 11rem;
    display: flex;
    position: absolute;
    /* left: 49rem; */
    top: 147rem;
    transition: .3s ease;
}
.img6{
    width: 37%;
    border: 1px solid red;
    margin-right: 11rem;
    display: flex;
    position: absolute;
    left: 49rem;
    top: 147rem;
    transition: .3s ease;
}
.img7{
    width: 37%;
    border: 1px solid red;
    margin-left: 11rem;
    display: flex;
    position: absolute;
    /* left: 49rem; */
    top: 190rem;
    transition: .3s ease;
}
.img8{
    width: 37%;
    border: 1px solid red;
    margin-right: 11rem;
    display: flex;
    position: absolute;
    left: 49rem;
    top: 190rem;
    transition: .3s ease;
}

.img13{
    width: 40vh;
    display: flex;
    position: absolute;
    left: 77rem;
    top: 210rem;
}

.p5{
    margin: 3vh;
    display: flex;
    position: absolute;
    left: 20rem;
    top: 182rem;
}
.p6{
    margin: 3vh;
    display: flex;
    position: absolute;
    left: 60rem;
    top: 182rem;
}
.p7{
    margin: 3vh;
    display: flex;
    position: absolute;
    left: 20rem;
    top: 215rem;
}
.p8{
    margin: 3vh;
    display: flex;
    position: absolute;
    left: 60rem;
    top: 215rem;
   
}

.imag:hover{
    transform: scale(0.9);
}

@media screen and (max-width:413px){
.img1,.img3,.img5,.img7{
    margin-left: 18px;
}
.img2{
    left: 14rem;
    top: 60rem;
}
.img3{
    top: 73rem;
}
.img4{
    left: 14rem;
    top: 73rem;
}
.img5{
    top: 87rem;
}
.img6{
    left: 14rem;
    top: 87rem;
}
.img7{
    top: 101rem;
}
.img8{
    left: 14rem;
    top: 101rem;
}
.img13{
    left: 10rem;
    top: 100rem;
    transform: scale(0.28);
}

.p1{
    left: 0px;
    top: 68rem;
}
.p2{
    left: 13rem;
    top: 68rem;
}
.p3{
    left: 11px;
    top: 81.5rem;
}
.p4{
    left: 13.4rem;
    top: 81.5rem;
}
.p5{
    left: 11px;
    top: 95rem;
}
.p6{
    left: 12rem;
    top: 95rem;
}
.p7{
    left: -11px;
    top: 107rem;
}
.p8{
    left: 12.7rem;
    top: 107rem;
}
}
