.about{
    display: flex; 
    width: 60%;
    height: 70vh;
    margin-left: 11rem;
    padding: 5px;
    top: 233rem;
    animation: fade-up 1.4s ease;
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.ab-left{
    display: flex;
    flex-direction: column;
    position: relative;
}

.img{
    margin-left: 11rem!important;
    width: 35%;
    
}

/* .right{
    display: flex;
    position: relative;
} */

.ab-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    flex: 1;
    margin-left:3rem ;
   
}

.head{
    color: rgb(59, 134, 119);
    font-weight: bolder;
}

.par{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 80vh;
}

.butt{
    width: 25vh;
    height: 10vh;
    border-radius: 20PX;
    background: rgb(59, 134, 119);
}

.butt:hover{
    /* width: 31vh;
    height: 15vh; */
    background: rgb(59, 134, 119);
}

@media screen and (max-width:413px){
    .about{
        top: 122rem;
        margin-left: -10rem;
    }
    .img{
        width: 41vh;
    }
    .head{
        position: relative;
        left: -18rem;
        top: -4rem;
    }
    .par{
    position: relative;
    width: 25rem;
    right: 27rem;
    top: 38rem;
    }
    .butt{
    position: relative;
    right: 21rem;
    top: 39rem;
    }
}